.notifications_container{
    /* border: 1px solid black; */
    border-radius: var(--border-radius);
    padding: 10px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
}
.notifications_container h4{
    margin-bottom: 10px;
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    padding: 5px;
}
.like,
.comment{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}
.like,
.like p{
    color: var(--logo-color);
    
}
.comment,
.comment p{
    color: rgb(6, 242, 191);
}
