.create_post_container {
    width: 500px;
    height: fit-content;
    background-color: rgb(216, 224, 230);
    border-radius: var(--border-radius);
}

/* user profile */
.create_post_header {
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.create_post_left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create_post_left .photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(216, 224, 230);
    overflow: hidden;
}

.profile_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.create_post_header span:hover {
    background-color: #1b52a0;
    color: #fff;
    cursor: pointer;
}

.create_post_header span {
    width: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all .3s ease-in-out;
    background-color: #F0F5F7;
}

.create_post_header p {
    color: #000;
}

.data_part {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.create_post_container textarea,
.data_part input {
    width: 100%;
    resize: none;
    border-radius: var(--border-radius);
    padding: 2px;
    font-size: var(--small-font);
    color: dimgray;
    border:1px solid dimgray;
}

.data_part input{
    height: 25 px;
}

.select_show_images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.upload_images {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.select_show_images label {
    font-size: var(--small-font);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select_show_images input {
    display: none;
}

.display_images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image_container {
    position: relative;
}

.display_images img {
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.delete_icon {
    position: absolute;
    right: -5px;
    top: -5px;
    color: dimgray;
    cursor: pointer;
}

.submit_btn {
    width: 100%;
    background-color: white;
    /* padding: 10px; */
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.submit_btn input {
    margin-right: 20px;
    padding: 5px 20px;
    font-size: var(--mob-font-size);
    border-radius: var(--border-radius);
    border: none;
    background-color: green;
    color: white;
}

.submit_btn p {
    color: red;
    margin-left: 20px;
    font-size: var(--small-font);
}

.Disabled{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.loader {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}