@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

:root {
  --border-radius: 5px;
  --mob-font-size: 16px;
  --web-font-size: 18px;
  --menu-font-size: 14px;
  --small-font: 12px;
  --primary-color: #0000FF;
  --success-color: #35A953;
  --danger-color: #D93025;
  --btn-primary: #1967D2;
  --btn-primary-hover: #1b52a0;
  --logo-color:#FDC735;
  --photo-back-color: rgb(216, 224, 230);
  --background-color: #26292e;
  --swiper-navigation-size: 15px !important;
}

/* for chrome, webkit browser */
::-webkit-scrollbar {
  display: none;
}

/* for firefox */
html {
  scrollbar-width: none;
}


input:focus {
  outline: none;
  color: dimgray;
}

ul {
  list-style-type: none;
}

h4 {
  font-weight: 600;
  font-size: var(--web-font-size);
}

p {
  font-size: var(--small-font);
  font-weight: 400;
  color: gray;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-weight: 600;
  font-size: 16px ;
}

hr {
  opacity: 0.4;
  /* color: white; */
  width: 100%;
}

/* swiper for post */
 .swiper {
  height: 400px;
  width: 100%;
  border-radius: var(--border-radius);
}

 .swiper-wrapper {
  height: 100%;
  width: 100%;
}

 .swiper-slide {
  height: 100%;
  width: 100%;
}

 .swiper-slide img {
  height: 100% !important;
  object-fit: cover !important;
}
 .swiper-button-prev,
 .swiper-button-next {
width: 15px !important;
height: 15px !important;
background-color: rgba(255, 255, 255, 0.7);
border-radius: 50%;
padding: 5px;
color:rgba(0, 0, 0, 0.8) ;
font-weight: 900;
}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }

  p {
    font-size: 12px;
  }

  h3 {
    font-size: 16px;
  }
}