.container {
  width: 100%;
  background-color: black;
  /* background-image: url('../assets/background3.svg'); */
  height: 100vh;
}



/* .swiper_slide {
  height: 300px !important;
}

.swiper_slide Image {
  height: 300px !important;
} */

.profile_post_container {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px 20px 0 20px;
}

.profile {
  width: 15%;
  min-width: 200px;
}

.post {
  width: 35%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  /* margin-bottom: 100px; */
  /* padding-bottom: 20px; */
}

.notifications {
  width: 20%;
  min-width: 250px;
}

@media screen and (max-width:1200px) {
  .profile_post_container{
    gap: 20px;
  }
 
}
@media screen and (max-width:992px) {
  .profile{
    display: none;
  }
  .notifications{
    display: none;
  }
}
@media screen and (max-width:600px) {
  .post{
    min-width: 100%;
  }
  .profile_post_container{
    padding: 20px 10px 0 10px;
  }
}