/* create post */
.create_post_btn{
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.create_post_left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.create_post_left .photo{
    width: 35px;
    height: 35px;
}


/* show post */
