.container {
    /* color: var(--primary-color); */
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--mob-font-size);
    position:fixed;
    z-index: 1;
    transition: all .3s ease-in-out;
}

.mobile_logo {
    display: none;
    cursor: pointer;
}

.logo {
    width: 300px;
    height: 65px;
    overflow: hidden;
    background-color: #3F3BAA;
    border-radius: 36px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.img{
    width: 100%;
    position: relative;
    /* top: -72px; */
}

.search_bar {
    width: fit-content;
    max-width: 600px;
    height: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    color: black;
    padding: 10px;
    gap: 10px;
}

.search_bar input[type="search"] {
    border: none;
    width: 300px;
    height: 30px;
    font-size: var(--mob-font-size);
    background-color: rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
}

.search_icon {
    display: flex;
    align-items: center;
}

.search_bar input[type="search"]:focus {
    width: 600px;
}

/* styles for landing page options only */

.landing_options{
display: flex;
margin-left: -200px;
gap: 50px;
font-weight: 600;
font-size: 18px;
transition: all .3s ease-in-out;
}
.landing_links{
    cursor: pointer;
    position: relative;
}
.landing_links::after{
    content: '';
    height: 2px;
    width: 100%;
    position:absolute;
    background-color: var(--primary-color);
    bottom: 0;
    left:0;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.landing_links:hover::after{
    opacity: 1;
}
.uploadBtn,
.btn {
    border-radius: var(--border-radius);
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .3s ease-in-out;
    font-size: 15px;
}
.btn{
    position: absolute;
    right: 40px;
    top: 10px;
}

.uploadBtn:hover,
.btn:hover {
    background-color: #000;
    border-color: #000;
    cursor: pointer;
}
.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 20px;
    z-index: 1;
    cursor: pointer;
}
.hamburger .line{
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: all .3s ease-in-out;
}
.mobileHam:first-child{
    transform: rotateZ(45deg);
    background-color: #000;
}
.mobileHam:nth-child(2){
    transform: translateX(50px);
    background-color: #000;
}
.mobileHam:nth-child(3){
    transform: translateY(-13px) rotate(135deg);
    background-color: #000;
}

/* profile section */

.profile_auth {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 40px;
    color: #fff;
}

.profile_menu {
    position: absolute;
    padding: 20px;
    /* border: 1px solid #000; */
    border-radius: var(--border-radius);
    /* border-top-right-radius: 0; */
    background-color: #fff;
    color: #000;
    right: 50px;
    z-index: 2;
    top: 80px;
    font-size: var(--menu-font-size);
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.profile_menu::before {
    content: '\25B2';
    position: absolute;
    top: -34px;
    right: 0px;
    font-size: 30px;
    color: #fff;
}

.profile_menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.profile_menu ul li:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.create_post_popup,
.login_popup,
.signup_popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 2;
    transition: all 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

.mobile_notification {
    display: none;
}

@media screen and (max-width:1200px) {
    .upload {
        display: none;
    }

    .search_bar input[type="search"]:focus {
        width: 350px;
    }
}

@media screen and (max-width:992px) {
    .btn{
        right: 20px;
    }
    .logo {
        margin-left: 20px;
        width: 250px;
        height: 50px;
    }

    .img{
        top: -60px;
    }

    .profile_auth{
        margin-right: 10px;
        gap: 20px;
    }
    .landing_options{
        gap: 20px;
        font-size: 16px;
    }

    .container {
        gap: 10px;
        height: 60px;
    }

    .search_bar {
        width: 65%;
        margin-left: -10px;
    }

    .search_bar input[type="search"] {
        width: 100%;
    }

    .search_bar input[type="search"]:focus {
        width: 100%;
    }

    .profile_menu {
        right: 20px;
    }

    .mobile_notification {
        display: block;
        position: relative;
        z-index: 2;
    }

    .notification_light {
        position: absolute;
        background-color: red;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        top: -5px;
        right: -2px;
    }
}

@media screen and (max-width:720px){
    .container{
        background-color: var(--primary-color) !important;
    }
    .landing_options{
        position: absolute;
        right: -220px;
        top: 0;
        flex-direction: column;
        height: 100vh;
        background-color: #fff;
        color: var(--primary-color);
        padding: 30px;
        gap: 50px;
        text-align: center;
    }
    .btn{
        color: var(--primary-color);
        border-color: var(--primary-color);
        position:unset;
    }
    .hamburger{
        display: flex;
    }
    .logo{
        display: none;
    }
    .mobile_logo {
        display: block;
        width: 60px;
        /* margin-left: -10px; */
    }
}